{% extends "base.html.twig" %}

{% block body %}

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">

                <div class="item active" style="background-image: url(../images/slider/1.jpg)">
                  <div class="caption">
                        <h1 class="animated fadeInLeftBig">Welcome to <span>RJFU.com</span></h1>
                        <p class="animated fadeInRightBig">Remote Jobs - Trainings - Internships</p>
                        <!--<a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>-->
                  </div>
                </div>

                <div class="item" style="background-image: url(../images/slider/2.jpg)">
                  <div class="caption">
                        <h1 class="animated fadeInLeftBig">We are here to assist</h1>
                        <p class="animated fadeInRightBig">Aim Higher - Reach Farther - Dream Bigger</p>
                        <!--<a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>-->
                  </div>
                </div>

                <div class="item" style="background-image: url(../images/slider/3.jpg)">
                  <div class="caption">
                        <h1 class="animated fadeInLeftBig">We are <span>Creative</span></h1>
                        <p class="animated fadeInRightBig">Become Visible - Become Visual - Get a deam job</p>
                        <!--<a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>-->
                  </div>
                </div>

        </div>

        <!--<a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>-->
        <!--<a id="tohash" href="#about-us"><i class="fa fa-angle-down"></i></a>

        <!-- subscription form -->
        <div class="subscribe-form" style="text-align:center; position:absolute;top:35%;">
            <div class= "row">
                {{ form_start(form1, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    {{ form_label(form1.firstname) }}
                    {{ form_widget(form1.firstname) }}
                </div>
                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    {{ form_label(form1.lastname) }}
                    {{ form_widget(form1.lastname) }}
                </div>	
                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    {{ form_label(form1.emailaddress) }}
                    {{ form_widget(form1.emailaddress) }}
                </div>
                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                    {{ form_label(form1.phone) }}
                    {{ form_widget(form1.phone) }}
                </div>
                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                    <span class="input-group-addon"><i class="fa fa-male fa-fw"></i></span>
                    {{ form_label(form1.age) }}
                    {{ form_widget(form1.age) }}
                </div>
                <div class="picklist-style">
                    <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        {{ form_widget(form1.agreeterms) }}
                        <lable> {{ 'I have read and agreed to ' }} <a href="{{ path('terms') }}" target="_blank"> {{ 'Terms & Conditions' }} </a> </lable>
                        {{ form_row(form1.agreeterms) }}
                    </div>
                    <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        {{ form_widget(form1.agreeemails) }}
                        <lable> {{ 'I want to get emails from RemoteJobsForYou.com' }} </lable>
                        {{ form_row(form1.agreeemails) }}
                    </div>
                    <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        {{ form_widget(form1.agreepartners) }}
                        <lable> {{ 'I want to get mails from Partners of RemoteJobsForYou.com' }} </lable>
                        {{ form_row(form1.agreepartners) }}
                    </div>
                </div>
                <div style="padding-top:1%; padding-bottom:8%;">
                        {{ form_row(form1.submit, { 'label': 'Subscribe to join' }) }}
                </div>          
                {{ form_end(form1) }}
            </div>
        </div>
        <div class="window-BG" id="alert">
            <div class="window">
                <div id="alert-title" class="win-img-text">{{ 'Please solve below errors'|trans }}:</div>
                <div id="alert-text" class="win-text">
                    <div style="color: white; text-align: justify;">
                        {{ form_errors(form1) }}
                    </div>    
                </div>
                <div class="window-close win-close-2">{{ 'Close'|trans }}</div>
            </div>
        </div>
    </div><!--/#home-slider-->
    <!--navbar -->
    <div class="main-nav" id="sidebar-wrapper" role="navigation">
        <div class="container">
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" id="menu-close">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="index.html">
                        <h1><img class="img-responsive" src="../images/logo.png" alt="logo"></h1>
                  </a>                    
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">                 
                    <li class="scroll active"><a href="{{ path('index') }}#home" onclick = $("#menu-close").click(); >Home</a></li>
                    <li class="scroll"><a href="{{ path('index') }}#about-us" onclick = $("#menu-close").click(); >About Us</a></li>                   
                    <li class="scroll"><a href="{{ path('index') }}#services" onclick = $("#menu-close").click(); >Service</a></li> 
                    <li class="scroll"><a href="{{ path('index') }}#portfolio" onclick = $("#menu-close").click(); >Why Us</a></li>
                    <li class="scroll"><a href="{{ path('index') }}#blog" onclick = $("#menu-close").click(); >Blog</a></li>
                    <li class="scroll"><a href="{{ path('terms') }}" onclick = $("#menu-close").click(); >Terms</a></li>
                    <li class="scroll"><a href="{{ path('privacy') }}" onclick = $("#menu-close").click(); >Privacy Policy</a></li>
                    <li class="scroll"><a href="{{ path('unsubscribe') }}" onclick = $("#menu-close").click(); >Unsubscribe</a></li>
                    <li class="scroll"><a href="#contact-terms" onclick = $("#menu-close").click(); >Contact</a></li>       
                </ul>
            </div>
        </div>
    </div>
  </header><!--/#home-->
  
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>About us</h2>
            <p>RemoteJobsForYou.com is a subscription based marketing platform, that is targeted to connect its subscribers to job opportunities by means of marketing through modern communication channels (e.g. email, sms, calls etc.)</p>
            <p>The majority of our subscribers are candidates, looking for remote job opportunities or an additional source of income that would come in hand with their current role. As well as people looking to acquire new skills or professionals looking to enhance existing set of skills to boost up their professional development.</p>
		<p> Here at RemoteJobsForYou.com a team of dedicated professionals is not promising you will get a job fast, but we do the best we can for you to get it when you need it <strong> because you deserve it</strong></p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <p class="lead">Offer Relevance</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="95">95%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
              <p class="lead">Offer Relevance</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="85">85%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
              <p class="lead">Partner Reliability</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="99">99%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <p class="lead">Level of Care</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="100">100%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#about-us-->
  
  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Our Services</h2>
            <p></p>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <i class="fa fa-flask"></i>
            </div>
            <div class="service-info">
              <h3>Jobs in your email</h3>
              <p>Get the jobs that suite you the best and you will not have to work another day in your life</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <i class="fa fa-umbrella"></i>
            </div>
            <div class="service-info">
              <h3>Work from home</h3>
              <p>Major companies are offering mid-level to senior level positions for people willing to work from home</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <i class="fa fa-cloud"></i>
            </div>
            <div class="service-info">
              <h3>Distance Trainings</h3>
              <p>Get the training you need for your next dream job without paying extra fees for costly training centers</p>
            </div>
          </div>
		  <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
              <i class="fa fa-gift"></i>
            </div>
            <div class="service-info">
              <h3>Give-aways & discounts</h3>
              <p>Most of the content, delivered as part of our email campaigns, are at massive discounts, close to nothing</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              <i class="fa fa-coffee"></i>
            </div>
            <div class="service-info">
              <h3>High-end technology</h3>
              <p>We are using advanced technologies to match the most relevant content into your specific email campaign</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <i class="fa fa-bitbucket"></i>
            </div>
            <div class="service-info">
              <h3>Discreteness</h3>
              <p>Here in RemoteJobsForYou we respect your privacy. Once you unsubscribe you unsubscribe for good and will not be hearing from us any more</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#services-->
  
  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>Why Us</h2>
          <p>Below are only some of the things we are concidered to be good at</p>
        </div>
      </div> 
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="folio-image">
              <img class="img-responsive" src="../images/portfolio/1.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Fastest growing partner network</h3>
                    <p>We are getting close be become the fastest growing partner platform in the industry</p>
                  </div>
                  <div class="folio-overview">
                    <span type="button" class="smoothScroll btn btn-danger sb-button" style="width: 150px; height: 35px;" onclick="location.href='#home'">Subscribe to join</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
              <img class="img-responsive" src="../images/portfolio/2.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Right jobs for right candidates</h3>
                    <p>Get the job you want when you need it the most. Become a subscriber and never miss an opportunity again</p>
                  </div>
                  <div class="folio-overview">
                    <span type="button" class="smoothScroll btn btn-danger sb-button" style="width: 150px; height: 35px;" onclick="location.href='#home'">Subscribe to join</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="folio-image">
              <img class="img-responsive" src="../images/portfolio/3.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Job Advisory Services</h3>
                    <p>Want to change a job or career but not sure where to start, sign up for our monday career 101 email campaigns </p>
                  </div>
                  <div class="folio-overview">
                    <span type="button" class="smoothScroll btn btn-danger sb-button" style="width: 150px; height: 35px;" onclick="location.href='#home'">Subscribe to join</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="folio-image">
              <img class="img-responsive" src="../images/portfolio/4.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Work from home and part time offers</h3>
                    <p>Explore limitless opportunities without leaving the comfort of your home. Sign up with us and get started now</p>
                  </div>
                  <div class="folio-overview">
                    <span type="button" class="smoothScroll btn btn-danger sb-button" style="width: 150px; height: 35px;" onclick="location.href='#home'">Subscribe to join</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="700ms">
            <div class="folio-image">
              <img class="img-responsive" src="../images/portfolio/5.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Trainings &amp cources from anywhere</h3>
                    <p>Get access to hundreds of online trainings and courses that would help you enhance your skills and knowledge in selected areas</p>
                  </div>
                  <div class="folio-overview">
                    <span type="button" class="smoothScroll btn btn-danger sb-button" style="width: 150px; height: 35px;" onclick="location.href='#home'">Subscribe to join</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="folio-image">
              <img class="img-responsive" src="../images/portfolio/6.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Resume advice</h3>
                    <p>Learn how to create a resume or cover letter that will lend you a dream job. Sign Up and get an advice from recruiters in your industry</p>
                  </div>
                  <div class="folio-overview">
                    <span type="button" class="smoothScroll btn btn-danger sb-button" style="width: 150px; height: 35px;" onclick="location.href='#home'">Subscribe to join</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="900ms">
            <div class="folio-image">
              <img class="img-responsive" src="../images/portfolio/7.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Instant access</h3>
                    <p>Be the first one to know about the jobs available at RemoteJobsForYou.com tends to be the exclusive first offer recipient</p>
                  </div>
                  <div class="folio-overview">
                    <span type="button" class="smoothScroll btn btn-danger sb-button" style="width: 150px; height: 35px;" onclick="location.href='#home'">Subscribe to join</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="folio-image">
              <img class="img-responsive" src="../images/portfolio/8.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Dedicated to subscribers</h3>
                    <p>We are always there for you, whether you are looking for a job or want to enhance your current carrier.</p>
                  </div>
                  <div class="folio-overview">
                    <span type="button" class="smoothScroll btn btn-danger sb-button" style="width: 150px; height: 35px;" onclick="location.href='#home'">Subscribe to join</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio-single-wrap">
      <div id="portfolio-single">
      </div>
    </div><!-- /#portfolio-single-wrap -->
  </section><!--/#portfolio-->

  <section id="features" class="parallax">
    <div class="container">
      <div class="row count">
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
          <i class="fa fa-user"></i>
          <h3 class="timer">1750000</h3>
          <p>Subscribers</p>
        </div>
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
          <i class="fa fa-desktop"></i>
          <h3 class="timer">75</h3>                    
          <p>Partners</p>
        </div> 
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
          <i class="fa fa-trophy"></i>
          <h3 class="timer">1200</h3>                    
          <p>Offers sent to date</p>
        </div> 
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
          <i class="fa fa-comment-o"></i>                    
          <h3>24/7</h3>
          <p>Fast Support</p>
        </div>                 
      </div>
    </div>
  </section><!--/#features-->

  <section id="twitter" class="parallax" style="margin-top:7%">
    <div>
      <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="twitter-icon text-center">
              <i class="fa fa-twitter"></i>
              <h4>RemoteJobsForYou.com</h4>
            </div>
            <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <p>RemoteJobsForYou.com partnered became part of mediaff.com family to increase value for our subscribers even further</a></p>
                </div>
                <div class="item">
                  <p>Our subscriber base reached 1.5 mil users - thanks a lot for your support and trust</a></p>
                </div>
                <div class="item">                                
                  <p>New partners come on board every week to improve the quality of our campaigns</a></p>
                </div>
              </div>                        
            </div>                    
          </div>
        </div>
      </div>
    </div>
  </section><!--/#twitter-->

  <section id="blog">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>Blog Posts</h2>
          <p>Learn more about what we do and how we do it by following our blog after subscription process is completed</p>
        </div>
      </div>
      <div class="blog-posts">
        <div class="row">
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="post-thumb">
              <a><img class="img-responsive" src="../images/blog/1.jpg" alt=""></a> 
              <div class="post-meta">
                <span><i class="fa fa-comments-o"></i> 2 Comments</span>
                <span><i class="fa fa-heart"></i> 25 Likes</span> 
              </div>
              <div class="post-icon">
                <i class="fa fa-pencil"></i>
              </div>
            </div>
            <div class="entry-header">
              <h3><a>New email delivery paltform is lanching 31 May to make sure deliverability rates are always the highest</a></h3>
              <span class="date">April 30, 2016</span>
              <span class="cetagory">in <strong>Tech side of us</strong></span>
            </div>
            <div class="entry-content">
              <p>In the constant quest for perfection of our customer service, we are launching new email delivery platform, which will increase the volume as well as deliverability of our campaigns </p>
            </div>
          </div>	
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="post-thumb">
              <div id="post-carousel"  class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#post-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#post-carousel" data-slide-to="1"></li>
                  <li data-target="#post-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <a><img class="img-responsive" src="../images/blog/2.jpg" alt=""></a>
                  </div>
                  <div class="item">
                    <a><img class="img-responsive" src="../images/blog/1.jpg" alt=""></a>
                  </div>
                  <div class="item">
                    <a><img class="img-responsive" src="../images/blog/3.jpg" alt=""></a>
                  </div>
                </div>                               
                <a class="blog-left-control" href="#post-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="blog-right-control" href="#post-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
              </div>                            
              <div class="post-meta">
                <span><i class="fa fa-comments-o"></i> 5 Comments</span>
                <span><i class="fa fa-heart"></i> 35 Likes</span> 
              </div>
              <div class="post-icon">
                <i class="fa fa-picture-o"></i>
              </div>
            </div>
            <div class="entry-header">
              <h3><a href="#">By partnering up with Jobbery.com we are now able to include jobs for those of our subscribers that love to travel</a></h3>
              <span class="date">April 15, 2016</span>
              <span class="cetagory">in <strong>All the Jobs</strong></span>
            </div>
            <div class="entry-content">
              <p>We are not in partnership with Jobbery.com in order to improve industrial coverage of our email campaigns, so our subscribers have plenty to choose from </p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="post-thumb">
              <a href="#"><img class="img-responsive" src="../images/blog/3.jpg" alt=""></a>
              <div class="post-meta">
                <span><i class="fa fa-comments-o"></i> 1 Comments</span>
                <span><i class="fa fa-heart"></i> 12 Likes</span> 
              </div>
              <div class="post-icon">
                <i class="fa fa-video-camera"></i>
              </div>
            </div>
            <div class="entry-header">
              <h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h3>
              <span class="date">April 5, 2016</span>
              <span class="cetagory">in <strong>All customers</strong></span>
            </div>
            <div class="entry-content">
              <p>New dedicated customer support is open to assist with any/all possible queries from our subscribers and partners </p>
            </div>
          </div>                    
        </div>             
      </div>
    </div>
  </section><!--/#blog-->
{% endblock %}
